body {
    background-color: #e8e6e0;
    font-family: "Quicksand", sans-serif;
}

#main_image {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;    /* above the yellow bar */
}

#main {
  clear: both;
}

#logo {
  width: 25%; 
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  margin-bottom: -40px;
  border: 1px solid #555;
  border-radius: 100%;
}
.top-bar {
  width: 100%;
  height: 50px; /* whatever height you want */
  background-color: #ecbc6a;
  position: relative;   /* stays in flow */
  z-index: 0;           /* behind the image */
}
