body {
    background-color: #e8e6e0;
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
}

#main_image {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;    /* above the yellow bar */
}

#main {
  clear: both;
}

#logo {
  width: 25%; 
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  margin-bottom: -40px;
  border: 3px solid #000;
  border-radius: 100%;
  z-index: 1;
}
.top-bar {
  width: 100%;
  height: 50px;
  background-color: #ecbc6a;
  position: relative;
  z-index: 0;
  border-bottom: 3px solid #000;
}
#adopt {
  clear: both;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
table, th, td {
  border: 10px solid #9c9d89;
  border-collapse:collapse;
}
table {
  clear: both;
  width: 100%;
}
#main_nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  font-family: "Teachers", Arial, Helvetica, sans-serif;
  float: center;
  align-content: center;
}
#main_nav li {
  background-color: #9c9d89;
  display: inline;
  float: left;
  border: 3px solid black;
  border-radius: 12px;
  margin: 10px;
  padding: 10px 20px;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: bold;
  
  }
#main_nav li:hover {
  background-color: #ecbc6a;
}
#main_nav a {
  color: #e8e6e0;
  text-decoration: none;
}
header {
  align-items: center;
}
hr {
  border: none;
  height: 3px;
  background-color: black;  /* or any color */
}
h2{
  font-family: "Teachers", Arial, Helvetica, sans-serif;
  font-weight: 100;
}
#volunteer {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 49%;
  float: left;
}
footer {
  color: #e8e6e0;
  clear: both;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 10px 10px 10px;
  width: 100%;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  background-color: #9c9d89;
}
.section-heading{
  display: flex; 
  align-items: center;  
  font-size: 36px;
  gap: 10px;
}
.section-heading .line {
  flex-grow: 1;
  height: 4px;
  background-color: #e8e6e0;
}
footer h3 {
  margin-bottom: -10px;
  text-decoration: underline;
}
