body {
    background-color: #e8e6e0;
    font-family: "Quicksand", sans-serif;
}

#main_image {
  width: 100%;
  overflow: hidden;
}

#main {
  clear: both;
}

#logo {
  width: 25%; 
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  margin-bottom: -40px;
  border: 1px solid #555;
  border-radius: 100%;
}